* {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size:62.5%;/* para usar medidas rem*/
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth; /*Para crear una smooth scrolling*/
}

principal {
  margin:auto;
}
